#title{
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 10%;
}

#houseImage{
    display: block;
    margin-left: auto;
    margin-right: auto;
}

#tasksImage{
    display: block;
    margin-left: auto;
    margin-right: auto;
}